<template>
	
	<main>
		<br>
		<div id="img-container" class="mx-auto" @click="playpause()">
			<img class="d-block" :src="imageURL" alt="Friends!">
			<div id="caption" class="text-center text-white">{{ caption }}</div>
		</div>
		<audio preload loop>
			<source src="/friends_theme.m4a">
		</audio>
		<br>
		<div class="text-center">
			<a :href="imageURL" download="friends.jpeg" class="btn btn-outline-light shadow-none">Download the pic</a>
		</div>
		<br>
		<br>
		<br>
		<br>
		<br>
	</main>

</template>

<script>
export default {
	name: 'FriendsPage',

	data() {
		return {
			imageURL: require("@/assets/images/friends.jpeg"),
			songElement: undefined,
			touch_enabled: undefined,
			song_playing: undefined
		}
	},
	mounted() {

		// check if device is touch-enabled
		this.touch_enabled = ("ontouchstart" in window) || (navigator.maxTouchPoints > 0) || (navigator.msMaxTouchPoints > 0)

		// Note to self: when loading DOM objects into the Vue Data object, always do wrap that stuff in the 'mounted'-hook, to guarantee that DOM element has previously been rendered!
		this.songElement = this.$el.querySelector("audio")

	},
	computed: {

		// initial value is undefined, after first play always either true/false
		caption: function() {
			if (this.song_playing == undefined) {
				return this.touch_enabled ? "Tap me!" : "Click me!"
			} else if (this.song_playing) {
				return this.touch_enabled ? "tap to pause" : "click to pause"
			} else {
				return this.touch_enabled ? "tap to play" : "click to play"
			}
		}
		
	},
	methods: {

		playpause() {
			if (this.songElement.paused) {
				this.songElement.play()
				this.song_playing = true
			} else {
				this.songElement.pause()
				this.song_playing = false
			}
		}

	}
}
</script>

<style scoped>
	@font-face {
		font-family: "GabrielWeiss";
		src: url("~@/assets/fonts/gabrielweiss.ttf")
		/* src: url("../assets/fonts/gabrielweiss.ttf"); */
	}
	main {
		/* background-color: blanchedalmond; */
		background-color: #4158D0;
		background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
	}
	img {
		max-height: 80vh;
		max-width: 95vw;
	}
	#img-container {
		cursor: pointer;
		position: relative;
		width: fit-content;
		border-radius: 25px 75px;
		overflow: hidden;
		box-shadow: 0px 0px 40px 5px rgb(0 0 0 / 75%);
	}
	#caption {
		position: absolute;
		bottom: 15%;
		width: 100%;

		font-family: GabrielWeiss;
		font-size: 2rem;
		letter-spacing: 0.5rem;
		background-color: rgba(0, 0, 0, 0.5);
		user-select: none;
	}
</style>