<template>
	<main>
		<div class="container-fluid">
			<h1 class="display-1 text-center text-light py-5">THE GALLERY</h1>
			<div id="gallery" class="row row-cols-1 row-cols-sm-3 row-cols-md-4 row-cols-xxl-5 g-1 pb-5">

				<div class="col" v-for="nail in thumbnails" :key="nail.alt">
					<div class="card">
						<img class="card-img" :src="nail.path" :alt="nail.alt">
						<div class="card-img-overlay">
							<p id="image-title">{{ nail.alt.toUpperCase() }}</p>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</main>
</template>

<script>
export default {
	name: 'GalleryNew',
	data() {
		return {
			thumbnails: [],
		}
	},
	mounted() {
		this.importAll(require.context('@/assets/images/thumbnails_square/', false, /\.jpg$/))
	},
	methods: {
		importAll(r) {
			r.keys().forEach( key => this.thumbnails.push( { path: r(key), alt: this.generateAlt(r(key)) } ) )
		},
		generateAlt(nail) {
			// please don't hate me for this:
			return nail.split('.')[0].split('/').reverse()[0]
		}
	}
}
</script>

<style scoped>

/* only for non-touch devices bigger than xs */
@media only screen and (min-width: 576px) and (hover: hover) and (pointer: fine) {
	.card {overflow: hidden;}
	.card-img {transition: filter 0.4s ease;}
	.card:hover .card-img {
		/* transform: scale(1.1); */
		filter: brightness(80%);
	}
}

main {background-color: black;}

#image-title {
	font-size: 1rem;
	background-color: rgba(0, 0, 0, 0.8);
	display: inline-block;
	padding: 0 0.4rem;
	border-radius: 0.5rem;
	color: lightgray;
}

/* remove border and rounded corners from cards */
.card {border: none;}
.card, .card-img {border-radius: 0;}

</style>