<template>
		<main class="bg-light">
			<br>
			<div class="container-md">
				<h1 class="display-2 text-center">This is stuff:</h1>
				<div class="row text-center">
					<div class="col-sm-2 col-xl-3 bg-primary text-white">
						col A
					</div>
					<div class="col-sm-2 col-xl-5 bg-success text-white">
						col B
					</div>
					<div class="col-sm-5 col-xl-2 bg-info text-body">
						col C
					</div>
					<div class="col-sm-3 col-xl-2 bg-danger text-white">
						col D
					</div>
				</div>
				<br>
				<h2 class="display-4 text-center">This is other stuff:</h2>
				<div class="text-left">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Amet purus gravida quis blandit turpis cursus. A diam maecenas sed enim. Amet justo donec enim diam vulputate. Est pellentesque elit ullamcorper dignissim cras tincidunt lobortis. Ac tortor vitae purus faucibus ornare. Convallis a cras semper auctor neque vitae tempus. Ornare suspendisse sed nisi lacus sed. Elit duis tristique sollicitudin nibh sit amet. Eget sit amet tellus cras adipiscing enim. In iaculis nunc sed augue lacus viverra vitae. Scelerisque purus semper eget duis at tellus at. Egestas sed tempus urna et pharetra pharetra massa massa.
					</p>
					<p>
						Dolor purus non enim praesent elementum facilisis leo. In pellentesque massa placerat duis ultricies lacus sed turpis tincidunt. Lorem ipsum dolor sit amet consectetur adipiscing elit. Purus faucibus ornare suspendisse sed nisi lacus sed. Pulvinar elementum integer enim neque volutpat ac. Fames ac turpis egestas sed tempus urna. Quis enim lobortis scelerisque fermentum dui. Semper risus in hendrerit gravida rutrum. Ullamcorper morbi tincidunt ornare massa eget egestas purus. Lobortis feugiat vivamus at augue eget arcu dictum varius. Vitae ultricies leo integer malesuada. Tellus rutrum tellus pellentesque eu tincidunt tortor aliquam nulla. Feugiat scelerisque varius morbi enim. Enim tortor at auctor urna nunc id cursus. Scelerisque eleifend donec pretium vulputate. Posuere sollicitudin aliquam ultrices sagittis orci a scelerisque. Feugiat nisl pretium fusce id velit ut.
					</p>
				</div>
				<div id="pinksquare">
				</div>
			</div>
			<br>
		</main>
</template>

<script>
export default {
	name: 'HomePage',
	data: () => {
		return {
			hotdog: ""
		}
	}
}
</script>

<style scoped>
#pinksquare {
	height: 200px;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	background-color: hotpink;
	transition: transform 2s;
}
#pinksquare:hover {
	transform: rotate(720deg);
}
</style>