<template>
	<main class="bg-light">

		<h1 class="display-1 text-center text-light">Sorry, this page does not exist!</h1>

	</main>
</template>

<style scoped>
	main {
		height: 95vh;
		background-image: linear-gradient( 113.3deg,  rgba(217,9,27,1) 6.9%, rgba(22,68,150,1) 75% );
	}
	h1 {
		/* positioned in relation to first positioned parent --> body */
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
	}
</style>