<template>
	<footer class="container-md text-secondary">
		<br>
		<h3 class="display-5 text-center">This is the footer</h3>
		<br>
		<p class="text-end"><em>
			This website does not use cookies, mostly because I don't know how.
		</em></p>
		<br>
	</footer>
</template>

<script>
export default {
	name: 'TheFooter',
}
</script>