<template>
	
	<nav id="navapp" class="navbar navbar-expand-md bg-dark navbar-dark">
		<div class="container-fluid">
			<div @click="closeDropdown">
				<router-link to="/" class="navbar-brand">Anton's Website</router-link>
			</div>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#antonsNavBar">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="antonsNavBar">
				<ul class="navbar-nav">

					<li v-for="page in pages" :key="page.name" class="nav-item" @click="closeDropdown">
						<!-- 'router-link' gets rendered as 'a' -->
						<router-link
							:to="page.path"
							:class="{active: page.path==activeRoute}"
							class="nav-link"
						>
							{{ page.name }}
						</router-link>
					</li>

				</ul>
			</div>
		</div>
	</nav>

</template>

<script>
export default {
	name: 'TheNavbar',
	props: {
		pages: {
			type: Array,
			required: true,
		}
	},
	computed: {
		activeRoute: function() {
			return this.$route.path
		}
	},
	methods: {
		// removes 'show' class from dropdown element if present 
		closeDropdown() {
			console.log("before removing show class")
			document.querySelector(".navbar-collapse").classList.remove("show")
			console.log("after removing show class")
		}
	}
}
</script>

<style scoped>
	/* append '!important;' to overwrite bootstrap classes */
</style>
