<template>
	<div id="app">

		<!-- Navbar: creates router-links from pages array-->
		<the-navbar :pages="pages" />

		<!-- Main component: renders current $route.path -->
		<router-view />

		<!-- Footer -->
		<the-footer />

	</div>
</template>

<script>
import TheNavbar from './components/TheNavbar.vue'
import TheFooter from './components/TheFooter.vue'

export default {
	name: 'App',
	components: {
		TheNavbar,
		TheFooter,
	},
	data: function() {
		return {
			pages: [
				{
					name: 'Home',
					path: '/'
				},
				{
					name: 'Gallery',
					path: '/gallery'
				},
				{
					name: 'Friends',
					path: '/friends'
				},
			]
		}
	}
}
</script>